
body{
    background-color: #eee;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100% !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
nav i{
    font-size: 23px;
    color: #1a1a1a;
}
nav i .find{
    font-size: 20px;
    color: #ffffff;
}
nav{

    background: white;
    margin: 0;
    /*background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/
    /*background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/

}
.footer{
    background-color: white;
}
nav .logo{
    width: 115px;
    position: relative;
    top: -20px;
}
nav input, nav a{
    height: 44px;
    margin-top: 6px;
}
.list-book{

}
.content{
    background-color: #eee;
    margin-top: 100px;
    margin-bottom: 0;
}
.btn-find, .btn-find :hover{
    background-color: #d22633;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 60px;
}
.btn-find .find{
    color: white;
}
.content .description{
    min-height: 458px;
}
.content .buy{
    min-height: 564px;
}
.content .btn-buy{
    background-color: #ea2d3c;
    color: white;
}
.content .detail img{
    margin-top: 5px;
    margin-right: 5px;
    object-fit: contain;
}
.content .detail p{
    margin: 0;
    font-size: 16px;
}
.carousel-item img{
    height: 400px;
    object-fit: contain;
}
.footer i{
    margin-right: 10px;
}
.content .cart img{
    height: 100px;

}
.content .cart{
    min-height: 365px;
}
.content .cart table{
   min-height: 334px;
}
.login img{
    width: 185px;
}
.detail .img-detail{
    height: 20px;
    opacity: 1;
}
.logo-footer{
    width: 190px;
}